<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="queries.css">
    <link rel="stylesheet" href="style.css">
    <link rel='stylesheet' media='screen and (min-width: 701px) and (max-width: 900px)' href='css/medium.css' />
    
    <title>layout</title>
</head>
<body>

    <header class="header">
        <h1>I am header</h1>
    </header>

    <main>
        <nav>
            <p>I am nav</p>      
        </nav>
        <section>
            <header class="header-section">
                <p>I am header of section</p>
            </header>            
            <article>
                <p>I am article</p>
            </article>
            <footer class="footer-section">
                <p>I am footer of section</p>
            </footer>
        </section>     
        <aside>
            <p>I am aside</p>                                
        </aside>
     </main>
            
    <footer class="footer">
        <h1>I am footer</h1>        
    </footer>

</body>
</html>