body {
    background-color: black;
}

* {
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;  
    color: whitesmoke;
    margin: 5px;
}

button, input {
    color: black;
}

header {
    display: block;
    text-align: center;
    background-color: rgb(28, 28, 66);
}

img {
    width: 350px;
    height: 200px;
}

main {
    display: -webkit-flex;
    display: flex;
   -webkit-flex-flow: row;
    flex-flow: row;
}

article {
    background-color:rgb(36, 136, 136);
}

nav {
    float: left;  
    background-color:rgb(36, 136, 136);
}

aside {
    float: left;
    background-color:rgb(36, 136, 136);
}
