* {
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;  
}

header {
    display: block;
    text-align: center;
    background-color: blue;
}

main {
    display: -webkit-flex;
    display: flex;
   -webkit-flex-flow: row;
    flex-flow: row;
}

nav {
    float: left;
    
    background-color: blueviolet;
}

aside {
    float: left;
    
    background-color: beige;
}

footer {
    display: block;
    text-align: center;
    background-color: aqua;
}